/Cavernfreak.class
/Hollowtree.class
/Monster.class
/Mornpest.class
/Soilscreamer.class
/Venomhound.class
/Magmataur.class
/Manicboy.class
/Shapeshifter.class
/Skulldiablo.class
/Sleepdemon.class
/Spineeater.class
/MonsterTest.class
